.singleProductInfo {
    direction: rtl;
    background-color: var(--clr-bgProduct-1);
    padding: 80px 45px;
}

.header {
    font-size: 36px;
    font-weight: 500;
}

.p {
    font-size: 24px;
    font-weight: 400;
}

.price {
    background-color: var( --clr-whit);
    width: auto;
    display: inline-block;
    padding: 20px 15px;
    font-size: 24px;
    position: relative;
}

.priceWithDiscont {
    background-color: var( --clr-whit);
    width: auto;
    display: inline-block;
    padding: 20px 15px;
    font-size: 24px;
    position: relative;
}

.priceWithDiscont::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid red;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg)
}

.addtoCart {
    background-color: var(--clr-footer-1);
    color: var(--clr-whit);
    font-size: 24px;
    width: 400px;
    height: 72px;
}


/*//////////*/

.priceConatiner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.discont {
    padding: 20px 15px;
    font-size: 24px;
    background-color: var(--clr-bg-2);
}