.main {
    margin-bottom: 5px;
    background-color: var( --clr-bgProduct-1) !important;
    margin-top: 5px;
}

.list {
    width: 100%;
    font-family: 'IRANSans', sans-serif;
}

.listItem {}

.listItem label {
    font-family: 'IRANSans', sans-serif;
}