.searchBar:hover {
    border-bottom: 1px solid #707070;
}

.searchBar:hover .input {
    opacity: 1;
}

.input {
    width: 200px;
    text-align: right;
    opacity: 0;
    transition: all 0.4s ease-in-out !important;
}

.icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 0;
}