.releventContainer {
    margin: 140px 80px 40px 80px;
}

.relevent {
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}