.releventContainer {
    margin: 140px 80px 40px 80px;
}

.relevent {
    display: grid;
    grid-template-columns: repeat(auto-fit, 420px);
    gap: 10px;
    direction: rtl;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* @media screen and (max-width: 900px) {
    .relevent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: blue;
    }
} */